<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">JCSDevelopment</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Skills</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About Me</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Portfolio</div>
            <div class="intro-heading">Jr Front End Dev</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Skills</h2>
                <h3 class="section-subheading text-muted">What I Picked up at GA</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Front End</h4>
                <p class="text-muted">The main focus on the front end was working with HTML, CSS and straight JavaScript, although we also touched on jQuery and Backbone.js. I really like working with CSS and have used Bootstrap, Foundation and MaterializeCSS on projects</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Back End</h4>
                <p class="text-muted">We learnt Ruby as a back end language, working with both Sinatra and Rails. Also, we briefly touched on Node.js. I have been trying to improve on my Rails skills, building this website using Rails and Bootstrap</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-arrow-right fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Moving Forward</h4>
                <p class="text-muted">Over the duration of the Web Development Immersive Course, I learnt that my heart lies in front end development and I can't wait to get my first position to expand my skill set further!</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted">What I worked on at GA</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="https://worldstadiumsguide.herokuapp.com/" class="portfolio-link" data-toggle="modal" target="_blank">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img src="assets/wsg.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>World Stadiums Guide</h4>
                    <p class="text-muted">Instagram For My Love Of Stadiums</p>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="https://joshsutcliffe.github.io/projectBlobs/" class="portfolio-link" data-toggle="modal" target="_blank">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img src="assets/Phaser.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Project Asteroids</h4>
                    <p class="text-muted">Taking On My Love Of Games</p>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="https://joshsutcliffe.github.io/phaserShootingGame/" class="portfolio-link" data-toggle="modal" target="_blank">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/phaserShooting.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Asteroids, With Bullets!</h4>
                    <p class="text-muted">Bullets Surely Improve This Game?!?</p>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>CV</h4>
                    <p class="text-muted">To Find Out More About Me</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Me</h2>
                <h3 class="section-subheading text-muted">Doing My Best To Take On The World</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/graduation.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2013</h4>
                                <h4 class="subheading">University</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Following my love of histroy from an early age, I studied my bachelors at the Uni of Lancaster and my masters at the Uni of Nottingham. My masters completely put me off doing history as a career, but I still love reading and watching documentaries</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/vietnamTunnel.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013-2014</h4>
                                <h4 class="subheading">Travelling</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Doing what I do best, I spent about 9 months travelling in South East Asia, Europe and Colombia (to visit my sister). The photo is from the Cu Chi tunnels, Vietnam</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/sydney.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014-2016</h4>
                                <h4 class="subheading">Australia</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Needing a job after being broke from travelling, I decided to finally use my Ozzie passport and move to Australia. I was working in IT recruitment for over a year and this is how I got my first taste of the IT industry</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/css-file.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2015 - Present</h4>
                                <h4 class="subheading">Development</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">My flat mate in Melbourne took the GA Web Development Immersive Course and got a job as a back end developer. After trying and hating the corporate world, I began playing around on my laptop with my flat mate. After three months or so, I knew it was what I wanted to do</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Looking
                                <br>For The Next
                                <br>Chapter!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <h3 class="section-subheading text-muted">Getting in touch is easy, just click the link below</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
              <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary email-icon"></i>
                  <a href="mailto:joshclement12@gmail.com"><i class="fa fa-envelope fa-stack-1x"></i></a>
              </span>
          </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="copyright">Feel free to check out my web presence</span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline social-buttons">
                    <li><a href="https://github.com/JoshSutcliffe" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/joshsutcliffe90/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://uk.linkedin.com/in/joshclementsutcliffe" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
